In [3]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [2]:
cd

C:\Users\CVR

In [4]:
hd=pd.read_csv("C:\\Users\\CVR\\Desktop\\22-6685\\Age Prediction.csv")
hd

,ID,Age_group,Age,Gender,PAQ605,Body Mass Index,Blood Glucose after fasting,Diabetic or not,Respondent's Oral,Blood Insulin Levels
0,73564,Adult,61,2,2,35.7,110,2,150,14.91
1,73568,Adult,26,2,2,20.3,89,2,80,3.85
2,73576,Adult,16,1,2,23.2,89,2,68,6.14
3,73577,Adult,32,1,2,28.9,104,2,84,16.15
4,73580,Adult,38,2,1,35.9,103,2,81,10.92
...,...,...,...,...,...,...,...,...,...,...
2273,83711,Adult,38,2,2,33.5,100,2,73,6.53
2274,83712,Adult,61,1,2,30.0,93,2,208,13.02
2275,83713,Adult,34,1,2,23.7,103,2,124,21.41
2276,83718,Adult,60,2,2,27.4,90,2,108,4.99
2277,83727,Adult,26,1,2,24.5,108,2,108,3.76

In [6]:
hd.head()

,ID,Age_group,Age,Gender,PAQ605,Body Mass Index,Blood Glucose after fasting,Diabetic or not,Respondent's Oral,Blood Insulin Levels
0,73564,Adult,61,2,2,35.7,110,2,150,14.91
1,73568,Adult,26,2,2,20.3,89,2,80,3.85
2,73576,Adult,16,1,2,23.2,89,2,68,6.14
3,73577,Adult,32,1,2,28.9,104,2,84,16.15
4,73580,Adult,38,2,1,35.9,103,2,81,10.92

In [7]:
hd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2278 entries, 0 to 2277
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           2278 non-null   int64
 1   Age_group                    2278 non-null   object
 2   Age                          2278 non-null   int64
 3   Gender                       2278 non-null   int64
 4   PAQ605                       2278 non-null   int64
 5   Body Mass Index              2278 non-null   float64
 6   Blood Glucose after fasting  2278 non-null   int64
 7   Diabetic or not              2278 non-null   int64
 8   Respondent's Oral            2278 non-null   int64
 9   Blood Insulin Levels         2278 non-null   float64
dtypes: float64(2), int64(7), object(1)
memory usage: 178.1+ KB

In [8]:
hd.shape

(2278, 10)

In [9]:
hd.dtypes

ID                               int64
Age_group                       object
Age                              int64
Gender                           int64
PAQ605                           int64
Body Mass Index                float64
Blood Glucose after fasting      int64
Diabetic or not                  int64
Respondent's Oral                int64
Blood Insulin Levels           float64
dtype: object

In [10]:
hd.columns

Index(['ID', 'Age_group', 'Age', 'Gender', 'PAQ605', 'Body Mass Index',
       'Blood Glucose after fasting', 'Diabetic or not', 'Respondent's Oral',
       'Blood Insulin Levels'],
      dtype='object')

In [13]:
hd.isnull()

,ID,Age_group,Age,Gender,PAQ605,Body Mass Index,Blood Glucose after fasting,Diabetic or not,Respondent's Oral,Blood Insulin Levels
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
2273,False,False,False,False,False,False,False,False,False,False
2274,False,False,False,False,False,False,False,False,False,False
2275,False,False,False,False,False,False,False,False,False,False
2276,False,False,False,False,False,False,False,False,False,False
2277,False,False,False,False,False,False,False,False,False,False

In [14]:
hd.isnull().sum()

ID                             0
Age_group                      0
Age                            0
Gender                         0
PAQ605                         0
Body Mass Index                0
Blood Glucose after fasting    0
Diabetic or not                0
Respondent's Oral              0
Blood Insulin Levels           0
dtype: int64

In [17]:
hd['ID']

0       73564
1       73568
2       73576
3       73577
4       73580
        ...
2273    83711
2274    83712
2275    83713
2276    83718
2277    83727
Name: ID, Length: 2278, dtype: int64

In [18]:
hd['Age']

0       61
1       26
2       16
3       32
4       38
        ..
2273    38
2274    61
2275    34
2276    60
2277    26
Name: Age, Length: 2278, dtype: int64

In [19]:
hd['Age_group'].unique

<bound method Series.unique of 0       Adult
1       Adult
2       Adult
3       Adult
4       Adult
        ...
2273    Adult
2274    Adult
2275    Adult
2276    Adult
2277    Adult
Name: Age_group, Length: 2278, dtype: object>

In [20]:
hd.drop_duplicates()

,ID,Age_group,Age,Gender,PAQ605,Body Mass Index,Blood Glucose after fasting,Diabetic or not,Respondent's Oral,Blood Insulin Levels
0,73564,Adult,61,2,2,35.7,110,2,150,14.91
1,73568,Adult,26,2,2,20.3,89,2,80,3.85
2,73576,Adult,16,1,2,23.2,89,2,68,6.14
3,73577,Adult,32,1,2,28.9,104,2,84,16.15
4,73580,Adult,38,2,1,35.9,103,2,81,10.92
...,...,...,...,...,...,...,...,...,...,...
2273,83711,Adult,38,2,2,33.5,100,2,73,6.53
2274,83712,Adult,61,1,2,30.0,93,2,208,13.02
2275,83713,Adult,34,1,2,23.7,103,2,124,21.41
2276,83718,Adult,60,2,2,27.4,90,2,108,4.99
2277,83727,Adult,26,1,2,24.5,108,2,108,3.76

In [21]:
hd.describe()

,ID,Age,Gender,PAQ605,Body Mass Index,Blood Glucose after fasting,Diabetic or not,Respondent's Oral,Blood Insulin Levels
count,2278.000000,2278.000000,2278.000000,2278.000000,2278.000000,2278.000000,2278.000000,2278.000000,2278.000000
mean,78691.853819,41.795874,1.511414,1.822651,27.955180,99.553117,2.016242,114.978929,11.834794
std,2921.365151,20.156111,0.499979,0.398918,7.248962,17.889834,0.185556,47.061239,9.718812
min,73564.000000,12.000000,1.000000,1.000000,14.500000,63.000000,1.000000,40.000000,0.140000
25%,76171.750000,24.000000,1.000000,2.000000,22.800000,91.000000,2.000000,87.000000,5.860000
50%,78749.000000,41.000000,2.000000,2.000000,26.800000,97.000000,2.000000,105.000000,9.040000
75%,81213.500000,58.000000,2.000000,2.000000,31.200000,104.000000,2.000000,130.000000,14.440000
max,83727.000000,80.000000,2.000000,7.000000,70.100000,405.000000,3.000000,604.000000,102.290000

In [25]:
hd.rename(columns={'Body Mass Index': 'BMI'}, inplace=True)
hd

,ID,Age_group,Age,Gender,PAQ605,BMI,Blood Glucose after fasting,Diabetic or not,Respondent's Oral,Blood Insulin Levels
0,73564,Adult,61,2,2,35.7,110,2,150,14.91
1,73568,Adult,26,2,2,20.3,89,2,80,3.85
2,73576,Adult,16,1,2,23.2,89,2,68,6.14
3,73577,Adult,32,1,2,28.9,104,2,84,16.15
4,73580,Adult,38,2,1,35.9,103,2,81,10.92
...,...,...,...,...,...,...,...,...,...,...
2273,83711,Adult,38,2,2,33.5,100,2,73,6.53
2274,83712,Adult,61,1,2,30.0,93,2,208,13.02
2275,83713,Adult,34,1,2,23.7,103,2,124,21.41
2276,83718,Adult,60,2,2,27.4,90,2,108,4.99
2277,83727,Adult,26,1,2,24.5,108,2,108,3.76

In [29]:
hd['BMI'].mean()

27.955179982440736

In [30]:
hd['BMI'].median()

26.8

In [31]:
hd['BMI'].mode()

0    23.9
Name: BMI, dtype: float64

In [40]:
numeric_cols = hd.select_dtypes(include=['number'])
correlation_matrix = numeric_cols.corr()
print(correlation_matrix)

                                   ID       Age    Gender    PAQ605       BMI  \
ID                           1.000000 -0.008806 -0.012962 -0.019701 -0.061343
Age                         -0.008806  1.000000  0.006398  0.025973  0.147163
Gender                      -0.012962  0.006398  1.000000  0.151076  0.063873
PAQ605                      -0.019701  0.025973  0.151076  1.000000 -0.042935
BMI                         -0.061343  0.147163  0.063873 -0.042935  1.000000
Blood Glucose after fasting -0.004147  0.229624 -0.132342 -0.007849  0.208330
Diabetic or not              0.014102  0.049970 -0.032769 -0.002599  0.047133
Respondent's Oral            0.006036  0.318044  0.017406  0.060413  0.193375
Blood Insulin Levels        -0.040028 -0.091879 -0.016660  0.010011  0.552717

                             Blood Glucose after fasting  Diabetic or not  \
ID                                             -0.004147         0.014102
Age                                             0.229624         0.049970
Gender                                         -0.132342        -0.032769
PAQ605                                         -0.007849        -0.002599
BMI                                             0.208330         0.047133
Blood Glucose after fasting                     1.000000        -0.004427
Diabetic or not                                -0.004427         1.000000
Respondent's Oral                               0.685579         0.009796
Blood Insulin Levels                            0.211911         0.058986

                             Respondent's Oral  Blood Insulin Levels
ID                                    0.006036             -0.040028
Age                                   0.318044             -0.091879
Gender                                0.017406             -0.016660
PAQ605                                0.060413              0.010011
BMI                                   0.193375              0.552717
Blood Glucose after fasting           0.685579              0.211911
Diabetic or not                       0.009796              0.058986
Respondent's Oral                     1.000000              0.217272
Blood Insulin Levels                  0.217272              1.000000

In [43]:
hd_cleaned = hd.dropna(how='all')
print(hd_cleaned)

         ID Age_group  Age  Gender  PAQ605   BMI  Blood Glucose after fasting  \
0     73564     Adult   61       2       2  35.7                          110
1     73568     Adult   26       2       2  20.3                           89
2     73576     Adult   16       1       2  23.2                           89
3     73577     Adult   32       1       2  28.9                          104
4     73580     Adult   38       2       1  35.9                          103
...     ...       ...  ...     ...     ...   ...                          ...
2273  83711     Adult   38       2       2  33.5                          100
2274  83712     Adult   61       1       2  30.0                           93
2275  83713     Adult   34       1       2  23.7                          103
2276  83718     Adult   60       2       2  27.4                           90
2277  83727     Adult   26       1       2  24.5                          108

      Diabetic or not  Respondent's Oral  Blood Insulin Levels
0                   2                150                 14.91
1                   2                 80                  3.85
2                   2                 68                  6.14
3                   2                 84                 16.15
4                   2                 81                 10.92
...               ...                ...                   ...
2273                2                 73                  6.53
2274                2                208                 13.02
2275                2                124                 21.41
2276                2                108                  4.99
2277                2                108                  3.76

[2278 rows x 10 columns]

In [46]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [47]:
dates = pd.date_range("20130101", periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')